<div class="mat-form-field
  mat-primary
  mat-form-field-type-mat-input
  mat-form-field-appearance-legacy
  mat-form-field-can-float
  mat-form-field-should-float
  mat-form-field-has-label
  mat-form-field-hide-placeholder">

  <div class="mat-form-field-wrapper">
    <div class="mat-form-field-flex">
      <div class="mat-form-field-infix">
        <{{input.type}}
        ref="{{input.ref ? input.ref : 'input'}}"
        {% for (var attr in input.attr) { %}
        {% input.attr["class"] = (input.attr["class"] || '') + ' mat-input-element'; %}
        {{attr}}="{{input.attr[attr]}}"
        {% } %}
         autocomplete="off">{{input.content}}</{{input.type}}>
        <span class="mat-form-field-label-wrapper">
          <label class="mat-form-field-label mat-empty mat-form-field-empty" for="{{component.id}}">{{t(component.label)}}</label></span>
      </div>
    </div>
    <div class="mat-form-field-underline">
      <span class="mat-form-field-ripple"></span>
    </div>
    {% if (component.description) { %}
    <div class="mat-form-field-subscript-wrapper">
      <div class="mat-form-field-hint-wrapper ng-trigger ng-trigger-transitionMessages">
        <mat-hint class="mat-hint">{{t(component.description)}}</mat-hint>
        <div class="mat-form-field-hint-spacer"></div>
      </div>
    </div>
    {% } %}
  </div>

</div>
